VideoStream/external/
VideoStream/opencv/
VideoStream/VideoStream/packages/
VideoStream/x64/
VideoStream/VideoStream/x64/
VideoStream/VideoStream/.vs/
VideoStream/VideoStream/VideoStream/x64/
VideoStream/VideoStream/VideoStream/Debug/
Experimental/data/
Experimental/keyword_recognition/tmp/
Experimental/keyword_recognition/.ipynb_checkpoints/
Experimental/face_tracking/wider_face_train_bbx_gt.txt
Experimental/facial_recognition/.ipynb_checkpoints/
Experimental/facial_recognition/__pycache__/
Experimental/facial_recognition/tmp/
Experimental/face_tracking/tf_ckpts/
Experimental/face_tracking/tf_logs/
Experimental/face_tracking/tmp/
VideoStream/VideoStream/VideoStream.VC.VC.opendb
VideoStream/VideoStream/VideoStream.VC.db
automation_web_app\FaceTrackingApi\__pycache__
VideoStream/VideoStream/VideoStream.vcxproj.user
VideoStream/VideoStream.VC.db
VideoStream/.vs/VideoStream/v15/Browse.VC.db
VideoStream/.vs/VideoStream/v15/.suo
VideoStream/.vs/VideoStream/v14/.suo
Experimental/face_tracking/tmp_final/yolo.ckpt.meta
Experimental/face_tracking/tmp_final/yolo.ckpt.index
Experimental/face_tracking/tmp_final/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_final/checkpoint
Experimental/face_tracking/tmp_90/yolo.ckpt.meta
Experimental/face_tracking/tmp_90/yolo.ckpt.index
Experimental/face_tracking/tmp_90/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_90/checkpoint
Experimental/face_tracking/tmp_80/yolo.ckpt.meta
Experimental/face_tracking/tmp_80/yolo.ckpt.index
Experimental/face_tracking/tmp_80/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_80/checkpoint
Experimental/face_tracking/tmp_70/yolo.ckpt.meta
Experimental/face_tracking/tmp_70/yolo.ckpt.index
Experimental/face_tracking/tmp_70/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_70/checkpoint
Experimental/face_tracking/tmp_60/yolo.ckpt.meta
Experimental/face_tracking/tmp_60/yolo.ckpt.index
Experimental/face_tracking/tmp_60/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_60/checkpoint
Experimental/face_tracking/tmp_50/checkpoint
Experimental/face_tracking/tmp_40/yolo.ckpt.meta
Experimental/face_tracking/tmp_40/yolo.ckpt.index
Experimental/face_tracking/tmp_40/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_40/checkpoint
Experimental/face_tracking/tmp_30/yolo.ckpt.meta
Experimental/face_tracking/tmp_30/yolo.ckpt.index
Experimental/face_tracking/tmp_30/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_30/checkpoint
Experimental/face_tracking/tmp_20/yolo.ckpt.meta
Experimental/face_tracking/tmp_20/yolo.ckpt.index
Experimental/face_tracking/tmp_20/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_20/checkpoint
Experimental/face_tracking/tmp_10/yolo.ckpt.meta
Experimental/face_tracking/tmp_10/yolo.ckpt.index
Experimental/face_tracking/tmp_10/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_10/checkpoint
Experimental/face_tracking/tmp_0/yolo.ckpt.meta
Experimental/face_tracking/tmp_0/yolo.ckpt.index
Experimental/face_tracking/tmp_0/yolo.ckpt.data-00000-of-00001
Experimental/face_tracking/tmp_0/checkpoint
Experimental/face_tracking/__pycache__/freeze_graph.cpython-36.pyc
Experimental/face_tracking/.ipynb_checkpoints/yolo_face_detection-checkpoint.ipynb
*.db
automation_web_app/FaceTrackingApi/__pycache__/Init.cpython-36.pyc
automation_web_app/FaceTrackingApi/__pycache__/Recording.cpython-36.pyc
automation_web_app/FaceTrackingApi/__pycache__/Server.cpython-36.pyc
automation_web_app/FaceTrackingApi/__pycache__/TrackingModel.cpython-36.pyc
automation_web_app/FaceTrackingApi/Database/__pycache__/Database.cpython-36.pyc
automation_web_app/FaceTrackingApi/Database/FaceTracking.db
