VideoStream/external/
VideoStream/opencv/
VideoStream/VideoStream/packages/
VideoStream/x64/
VideoStream/VideoStream/x64/
VideoStream/VideoStream/.vs/
VideoStream/VideoStream/VideoStream/x64/
VideoStream/VideoStream/VideoStream/Debug/
Experimental/data/
Experimental/keyword_recognition/tmp/
Experimental/keyword_recognition/.ipynb_checkpoints/
Experimental/face_tracking/wider_face_train_bbx_gt.txt
Experimental/facial_recognition/.ipynb_checkpoints/
Experimental/facial_recognition/__pycache__/
Experimental/facial_recognition/tmp/
Experimental/face_tracking/tf_ckpts/
Experimental/face_tracking/tf_logs/
Experimental/face_tracking/tmp/
VideoStream/VideoStream/VideoStream.VC.VC.opendb
VideoStream/VideoStream/VideoStream.VC.db
