<div class="header">
    <div class="dropdown" (click)="toggleSidebar()"></div>
	<h1>Gray Home AI</h1>
</div>
<div id="sidebar">
    <a href="#" (click)="requestStateChange()">{{getNavigationText()}}</a>
    <a href="#" (click)="requestFriends()">Friends</a>
    <a href="https://github.com/grayengineering425/HomeAiAutomation">Github</a>
    <a href="#">Contact</a>
</div>

<app-pictorial-index	*ngIf="isReview()"	></app-pictorial-index>
<app-live-feed			*ngIf="isLive()"	></app-live-feed>
<app-friends			*ngIf="isFriends()"	></app-friends>
