*
{
	box-sizing: border-box;
}

.column
{
	float	            : left;
	width	            : 30%;
    height              : 250px;
    background-color    : red;
    margin              : 3% 1% 1% 1%;
    background-size     : cover;
}

.row 
{
    margin: 10px;
}

.row::after
{
	content	: "";
	clear	: both;
	display	: table;
}

.column, img
{
	max-width : 100%;
	max-height: 100%;
}

.mask
{
	background-color: rgba(0, 0, 0, 0.7);
	position		: absolute;
	left			: 0;
	top				: 0;
	height			: 100%;
	width			: 100%;
}

.activeImage
{
	margin:				0;
	position:			absolute;
	top:				50%;
	left:				50%;
	transform:			translate(-50%, -50%);
	width:				80%;
	height:				60%;
	background-color:	red;
}

.exitButton
{
    position        : absolute;
    right           : 0%;
    top             : 0%;
    width           : 50px;
    height          : 50px;
    background-color: red;
}

.overlay
{
	position		: relative;
	top				: 0;
	left			: 0;
	height			: 100%;
	width			: 100%;
	transition		: 0.5s ease;
	background-color: rgba(128, 128, 128, 0.0);
}

.overlayText
{
	color:		transparent;
	font-size:	20px;
	position:	relative;
	top:		20%;
	left:		50%;
	transform:	translate(-50%, -50%);
	text-align:	center;
	transition: 0.5s ease;
}

.deleteButton
{
	background-color:	transparent;
	position:			absolute;
	top:				80%;
	left:				50%;
	transform:			translate(-50%, -50%);
	transition:			0.5s ease;
	width:				60%;
	height:				30%;
	border-radius:		30px;
	color:				transparent;
}

.deleteButton p
{
	margin:		0;
	position:	absolute;
	top:		50%;
	left:		50%;
	transform:	translate(-50%, -50%);
}

.editButton
{
	position:			absolute;
	top:				5px;
	right:				5px;
	width:				40px;
	height:				40px;
	background-size:	cover;
	content:			"";
}

.editButton:hover
{
	filter:	invert(100%);
}

.column:hover .editButton
{
	content: url('./assets/edit.png');
}

.column:hover .overlay
{
	background-color: rgba(128, 128, 128, 0.7);
}

.column:hover .overlayText
{
	color: white;
}

.column:hover .deleteButton
{
	background-color:	red;
	color:				white;
}

.dialog
{
	margin:				0;
	position:			absolute;
	top:				50%;
	left:				50%;
	transform:			translate(-50%, -50%);
	background-color:	white;
	width:				400px;
	height:				300px;
}

.nameInput
{
	margin:				0;
	position:			absolute;
	top:				50%;
	left:				60%;
	transform:			translate(-50%, -50%);
	background-color:	lightgray;
	color:				black;
}

.runNameLabel
{
	color:		black;
	margin:		0;
	position:	absolute;
	top:		50%;
	left:		20%;
	transform:	translate(-50%, -50%);
}

.submitButton
{
	margin:				0;
	position:			absolute;
	top:				80%;
	left:				50%;
	transform:			translate(-50%, -50%);
	background-color:	lawngreen;
	color:				black;
	width:				128px;
	height:				48px;
	border-radius:		30px;
}

.submitButton p
{
	margin:		0;
	position:	absolute;
	top:		50%;
	left:		50%;
	transform:	translate(-50%, -50%);
}