.indicatorContainerReview
{
	position:			absolute;
	display:			inline-block;
	margin-left:		89%;
	width:				5%;
	height:				100%;
}

.indicatorReview
{
	margin:				0;
	position:			absolute;
	top:				50%;
	left:				50%;
	transform:			translate(-50%, -50%);
	height:				26%;
	width:				26%;
	background-color:	red;
	border-radius:		50% 50%;
}