<h2 class="friendsHeader">Friends</h2>
<div class="splitter"></div>
<div class="row">
    <div class="column">
        <div class="addFriend"></div>
        <input class="fileOverlay" type="file" accept="image/*" (change)="addFriend($event)" />
        <p class="addFriendText">Add Friend</p>
    </div>
    <div class="column" *ngFor="let friend of getFriends(); let i = index" [ngStyle]="{'background-image': 'url(' + getFriendData(i) + ')'}">


    </div>

    <div class="mask" *ngIf="isFriendLoaded()">
        <div class="friendPreviewPanel">
            <div class="friendPreview" [ngStyle]="{'background-image': 'url(' + getNewFriendData() + ')'}"></div>
            <div class="acceptButton" (click)="saveFriend()"><p>Save</p>   </div>
            <div class="deleteButton" (click)="exit()"      ><p>Discard</p></div>
        </div>
        <div class="exitButton" (click)="exit()"></div>
    </div>
</div>
