<div class="mainArea">
    <div class="viewPort" [ngStyle]="{'background-image': 'url(' + getCurrentFrameData() + ')'}">
        <div class="moviePlayer">
            <div class="playButton" (click)="setPlaying()"></div>
            <div class="sliderContainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <div class="indicatorContainer">
                <div class="indicator"></div>
            </div>
            <div class="status"><p>Live</p></div>
        </div>
        <div class="topGradient"></div>
        <div class="viewPortMenu" *ngIf="isLive()"></div>
    </div>
</div>