<div class="mainArea">
    <div class="viewPort" #viewPort [ngStyle]="{'background-image': 'url(' + getCurrentFrameData() + ')'}">
		<p *ngIf="!sourceActive()">Something seems to have gone wrong...</p>
        <div class="moviePlayer">
            <div class="playButton" (click)="setPlaying()"></div>
            <div class="indicatorContainer">
                <div class="indicator"></div>
            </div>
            <div class="status"><p>{{getStateText()}}</p></div>
        </div>
        <div class="topGradient"></div>
	</div>
</div>