.mainArea
{
	position:		fixed;
	width:			100%;
	height:			100%;
	margin-left:	-32px;
	margin-top:		29px;
}

.boundingBox
{
	position: absolute;
	left:			10px;
	top:			10px;
	width:			100px;
	height:			100px;
	border:			2px;
	border-color:	greenyellow;
	border-style:	solid;
}

.viewPort
{
	margin:				0;
	position:			absolute;
	top:				50%;
	left:				50%;
	transform:			translate(-50%, -50%);
	height:				70%;
	width:				60%;
	margin-top:			-2%;
	background-color:	black;
	background-size:	100%;
}

.viewPort p
{
	position:	absolute;
	top:		50%;
	left:		50%;
	transform:	translate(-50%, -50%);
	color: white;
}

.timeBox
{
	position:  relative;
	left:      78%;
	bottom:    15%;
	height:    20px;
	width:     150px;
	color:     #000000;
	font-size: 12px;
}

.dropdown
{
	position: absolute;
	left	: 0%;
	top		: 0%;
	display	: inline-block;
}

.viewPortMenu
{
	width:			10%;
	height:			10%;
    content:		url('./assets/burger.png');
	filter:			invert(100%);
	transition:		0.2s;
}

.viewPortMenu:hover
{
	filter: invert(70%);
}

.dropdown-content
{
	display:			none;
	position:			absolute;
	background-color:	#f9f9f9;
	min-width:			160px;
	box-shadow:			0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:			1;
}

.dropdown-content a
{
	color:				black;
	padding:			12px 16px;
	text-decoration:	none;
	display:			block;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.moviePlayer
{
	position:			relative;
	top:				92%;
	left:				0;
	right:				0;
	width:				100%;
	background-image:	linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 84%);
	height:				8%;
	opacity:			0.0;
	transition:			.5s ease;
}

.topGradient
{
	background-image:	linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 84%);
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	height:				8%;
	opacity:			0.0;
	transition:			.5s ease;
}

.viewPort:hover .moviePlayer
{
	opacity: 0.6;
}

.viewPort:hover .topGradient {
	opacity: 0.6;
}

.playButton
{
	position:			absolute;
	width:				5%;
	height:				100%;
	margin-left:		10px;
	opacity:			1.0;
	content:			url('./assets/play_pause.png');
	filter:				invert(100%);
	transition:			0.2s;
}

.playButton:hover 
{
	filter: invert(70%);
}

.indicatorContainer
{
	position:			absolute;
	display:			inline-block;
	margin-left:		90%;
	width:				5%;
	height:				100%;
}

.indicator
{
	margin:				0;
	position:			absolute;
	top:				50%;
	left:				50%;
	transform:			translate(-50%, -50%);
	height:				26%;
	width:				26%;
	background-color:	lime;
	border-radius:		50% 50%;
}

.status
{
	position:			absolute;
	display:			inline-block;
	margin-left:		88%;
	width:				15%;
	height:				100%;
	font-family:		'Segoe UI';
	color:				white;
	font-size:			16px;
	text-align:			center;
}

.status p
{
  margin:		0;
  position:		absolute;
  top:			50%;
  left:			50%;
  transform:	translate(-50%, -50%);
}

.sliderContainer
{
	position:		absolute;
	display:		inline-block;
	margin-left:	8%;
	width:			80%;
	height:			100%;
}

.slider
{
	-webkit-appearance: none;
	margin:				0;
	position:			absolute;
	top:				50%;
	left:				50%;
	transform:			translate(-50%, -50%);
	width:				100%;
	height:				10%;
	left:				50%;
	background:			#d3d3d3;
	outline:			none;
	opacity:			0.6;
}

.slider::-webkit-slider-thumb
{
	-webkit-appearance: none;
	width:				20px;
	height:				20px;
	background:			white;
	cursor:				pointer;
	border-radius:		10px;
}

.slider:hover
{
	opacity: 1.0;
}
