.viewPort 
{
  margin:             auto;
  margin-top:         5%;
  height:             480px;
  width:              720px;
  background-color:   #b200ff;
}

.startStop {
	position:	relative;
	top:		91%;
	left:		2%;
	height:		30px;
	width:		30px;
	content:	url('./assets/play_pause.png');
}

.dropbtn
{
   content:        	url('./assets/burger.png');
   height: 			30px;
   width: 			30px;
}

.dropdown
{
  position: 		    relative;
  right: 			    45%;
  bottom: 				30px;
  display: 			    inline-block;
}

.dropdown-content
{
  display: 			    none;
  position: 		    absolute;
  background-color:		#f9f9f9;
  min-width: 		    160px;
  box-shadow: 			0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 			    1;
}

.dropdown-content a
{
  color: 			    black;
  padding: 			    12px 16px;
  text-decoration: 		none;
  display: 			    block;
  font-size:            12px;
}

.dropdown-content a:hover
{
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: 		      block;
}

.dropdown:hover .dropbtn {
	filter:          invert(100%);
}

.startStop:hover
{
	filter:          invert(100%);
}

.timeBox
{
  position:         relative;
  left:             78%;
  bottom:           15%;
  height:           20px;
  width:            150px;
  color:            #000000;
  font-size: 12px;
}

.frameSliderBar
{
    position:       relative;
    margin-top:     48%;
    margin-left:    8%;
    width:          90%;
    height:         1%;
    background:     hotpink;
}

.frameSlider
{
    position:       relative;
    width:          20px;
    height:         20px;
    bottom:         8px;
    left:           20px;
    border-radius:  10px;
    background:     red;
}

.interestFrameSlider
{
  margin:           auto;
  height:           120px;
  width:            850px;
  background-color: aqua;
}

.f
{
  display:          inline-block;
  list-style-type:  none;
  padding:          12px 12px 0px 0px;
}

.interestFrame
{
  height:             96px;
  width:              144px;
  background-color:   coral;
  background-size:    cover;
}


/*TODO add grids to their own css*/
.container
{
	height:					90vh;
	width:					100vw;
	display:				grid;
	grid-template-areas:	"header header"
							"left main"
							"footer footer";
	grid-template-columns:	10% 90%;
	grid-template-rows:		10% 80% 10%;
    margin-top: -32px;
    margin-left: -32px;
}

.cell
{
	color:		white;
	font-size:	3rem;
	text-align: center;
	padding:	4rem;
}

.cell-header {
	background: deepskyblue;
	grid-area:	header;
}

.cell-sidebar {
	background: orangered;
	grid-area: left;
}

.cell-main {
	background: royalblue;
	grid-area: main;
}

.cell-footer {
	background: gold;
	grid-area: footer;
}