<div class="container">
	<div class="cell cell-header"   ></div>
	<div class="cell cell-sidebar"  ></div>
    
    <div class="cell cell-main">
        <div class="viewPort" [ngStyle]="{'background-image': 'url(' + getCurrentFrameData() + ')'}">
            <div class="startStop" (click)="setPlaying()"></div>
            <div class="dropdown">
                <div class="dropbtn">Dropdown</div>
                <div class="dropdown-content">
                    <a href="#">Show Boxes</a>
                </div>
            </div>
            <div class="timeBox">{{getTimeStamp()}}</div>
            <!-->div class="sliderRegion">
                <div class="frameSlider" cdkDragLockAxis="x" cdkDragBoundary=".sliderRegion" cdkDrag ondragend="setFrameIndex($event)"></div>
                <div class="frameSliderBar" *ngIf='!sourceActive()'></div>
            </!--div-->
        </div>
    </div>
	<div class="cell cell-footer"></div>
</div>